@import "./variables";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    // text-decoration: none;
    font-family: $robotofamily;
}

.container{
    max-width: 1400px;
    width: 80%;
    margin: 0 auto;
}

a:hover {
    cursor: pointer;
}

input{
    outline: none;
    border: 1px solid $maincolor;
    padding: 1rem;
    font-size: 1rem;
}

@mixin radius_rang($rang){
    width: 4rem;
    height: 4rem;
    background-color: $rang;
    border-radius: 50%;
}