@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$robotofamily:'Roboto', sans-serif;
$headercolor: #1C1B1B;
$maincolor: #000000;
$secondcolor: #FFFFFF;
$society1: rgba(204, 204, 204, 0.3);
$society2: rgba(204, 204, 204, 0.6);
$footerbgc: #020202;